<h2>Info</h2>
<p>
<strong>Course: </strong><%= @officehour.user_course.course.department %> <%=  @officehour.user_course.course.number %> - <%= @officehour.user_course.course.name %><br />
<strong>User: </strong><%= link_to(@officehour.user_course.user.displayname, member_path(@officehour.user_course.user)) %><br />
<strong>Notes: </strong><%= @officehour.user_course.notes %><br />
<strong>Score: </strong><%= @officehour.user_course.user.score %><br />
<strong>Confidence: </strong><%= @officehour.user_course.confidence %><br />
<strong>Start Time: </strong><%= @officehour.start_time.strftime("%m/%d/%Y %I:%M%p") %><br />
<strong>End Time: </strong><%= @officehour.end_time.strftime("%m/%d/%Y %I:%M%p") %><br />
<strong>Location: </strong><%= @officehour.location %><br />
<strong>Details: </strong><%= @officehour.location_details %>
</p>
<h2>Ratings</h2>
   <% if(@ratings.count > 0) %>
      <%= render @ratings %>
   <% end %>
   <% if(@officehour.user_course.user == current_user) %>
   <%= link_to('Edit',edit_office_hour_path(@officehour)) %> <%= link_to('Destroy', @officehour, :confirm => 'Are you sure?', :method => :delete) %>
   <% else %>
   <%= render 'rating_form' %>
   <% end %>
<p>