<h1><%= @officehour.user_course.course.department %> <%=  @officehour.user_course.course.number %> - <%= @officehour.user_course.course.name %></h1>
<p>
<strong>User: </strong><%= @officehour.user_course.user.email %><br />
<strong>Confidence: </strong><%= @officehour.user_course.confidence %><br />
</p>