<h1><%= @user.displayname %></h1>
<h2>Score: <%= @user.score %></h2>
<h2>Courses</h2>
<% if @user.user_courses.count == 0 %>
<em> This user has no courses.</em>
<% else %>
   <% @user.user_courses.each do |c| %>
      <p><%= c.course.short_name %> - <%= c.course.name %>, <%= c.year %> <br /><em>Confidence: <%= c.confidence %></em></p>
   <% end %>
<% end %>

<h2>Ratings</h2>
<% if @user.ratings.count == 0 %>
   <em> This user has not been rated.</em>
<% else %>
   <% @user.user_courses.each do |c| %>
      <h3><%= c.department %> <%= c.number %> - <%= c.course.name %></h3>
      <%= render c.ratings %>
   <% end %>
<% end %>
