<!DOCTYPE html>
<html>
<head>
  <title>OpenSourceOfficeHours</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="head">
    <div class="head_title">
      <h1><a href="/">Open Source Office Hours</a></h1>
    </div>
    <div class="head_right_menu">
      <% if logged_in? %>
        <a href="/officehour">Office Hours</a> | <a href="/courses">My Courses</a> | <a href="/account">Account</a> | <a href="/logout">Logout</a>
      <% else %>
        <a href="/register">Register</a> | <a href="/login">Login</a >
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <div id="flashes">

    <% if flash[:notice] %>
      <p id="flash_notice" class="messages notice"><%= flash[:notice] %></p>
      <%= javascript_tag "$('#flash_notice').effect('highlight',{},1000);" %>
    <% end %>

    <% if flash[:error] || flash[:errors] %>
      <p id="flash_errors" class="messages errors"><%= flash[:error] || flash[:errors] %></p>
      <%= javascript_tag "$('#flash_errors').effect('highlight',{},1000);" %>
    <% end %>

    <% flash[:error] = flash[:errors] = flash[:notice] = nil %>
  </div>
  <div class="main_hold">
    <%= yield %>
  </div>
  <div class="footer">
    &copy; Open Source Office Hours 2011 | <a href="/about">About</a>
  </div>

</body>
</html>
